<main class="mdl-layout__content mdl-color--grey-100">
  <div class="mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-grid">

    <div class="mdl-card mdl-shadow--2dp mdl-cell mdl-cell--12-col mdl-cell--12-col-tablet mdl-cell--12-col-desktop">
      <div class="mdl-card__supporting-text mdl-color-text--grey-600">
        TBD
      </div>
    </div>

  </div>
</main>
